
.imageGallery{
    width: 600px;
    
}

/* max-width: 80%;
margin: 0 auto 0 20%;
flex-grow: 1; */

.infoProduct{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  max-width: 80%;
margin: 0 auto 0 25%;
  gap: 20px;
  top: 0;
  left: 15%;
}
@media (max-width: 600px){
    .infoProduct{
        max-width: 70%;

        margin: 0 auto 0 30%;
    }

}

.descriptionProduct{
    font-size: 27px;
    margin-bottom: 10px;
}
.precioProduct{
font-size: 30px;
}
.elementProduct{
    margin: 10% 0 0 0;
    max-width: 200px;
}
@media (max-width: 500px){
    .infoProduct{
        margin: 0 ;
        margin-top: 0;
        max-width: 100%;
        display: block;
        height: 100%;
    }
    .imageGallery{
        width: 100%;        
    }
    .elementProduct{
        max-width: 0;
        display: block;
        width: 100%;
        
    }
    .elementProduct{
        max-width: 400px;
        margin: 20px 10px;
    }
}

