


.productList{
    display: grid;
    gap: 20;
    grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1400px){
    .productList{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   
}
@media (max-width: 500px){
    .productList{
        display: grid;
        grid-template-columns: 1fr ;
    }   
}