


.productList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--foreground);
}
.product{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 7px 6px 10px -3px rgba(0,0,0,0.44);
    width: 300px;
    height: 400px;
    margin: 0 auto 20px auto;
    transition: transform 0.4s ease;

}


@media(hover:hover){
    .product:hover{
        transform: scale(1.1);
    }
}

.imagen{
    border-radius: 10px 10px 0 0;
    width:300px;
    height:290px
}

.precio{
    font-size: 25px;
}
.textCard{
    margin: 15px 10px;
}
@media (max-width: 1518px){
    .productList{
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }   
}
@media (max-width: 1020px){
    .productList{
        grid-template-columns: 1fr ;
    }   
}


.cod{
    position:absolute;
    margin: 10px;
    /* background-color: #3fff33; */
    padding: 2px 5px;
    border-radius: 10px;
    /* text-decoration: bold; */
    font-size: 15px;
}

/* @media (max-width: 1518px){
    .imagen{
        width:300px;
        height:290px
    }

    .product{

        width: 300px;
        height: 400px;

    }
    
} */
@media (max-width: 400px){
    .imagen{
        width:300px;
        height:290px
    }

    .product{

        width: 300px;
        height: 400px;

    }
    
}